.OfferDetails {
    display: block;
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.offerImg {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
}

.fleche-gauche {
    position: absolute;
    margin-left: 25px;
    left: 0;
    top: 36%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    background-color: #ffffff00;                       
    border-style: none;
    cursor: pointer;
}

.fleche-droite {
    position: absolute;
    margin-right: 25px;
    right: 0;
    top: 36%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    background-color: #ffffff00;                       
    border-style: none;
    cursor: pointer;
}

.offerTopInfos {
    display: flex;
    justify-content: space-between;
}

.offerTopInfos h1, p {
    color: #FF6060;
}

.tag:first-of-type {
    margin-left: 0;
}

.tag {
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: auto 10px;
    padding: 5px 15px;
    text-align: center;
}

.owner-name {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    position: absolute;
    right: 65px;
    top: 23px;
}

.owner-photo {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
    position: relative;
    left: 82px;
    top: 10px;
}

.rating {
    margin-top: 10px;
    position: relative;
    left: 11px;
    top: 7px;
    font-size: 34px;
}

.namePictureRating {
   position: relative;
}

/* Responsive pour les téléphones portables */

@media screen and (max-width: 680px) {
    .offer img {
        height: 300px;
        width: 300px;
    }

    .offerImg-sombre {
        display: none;
    }

    .allOfferPictures {
        background-color: white;
    }

    .offer-title {
        font-size: 14px;
    }
}

.fullStar {
    color: red;
}

.emptyStar {
    color: silver;
}

