.OfferDetails {
    display: block;
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.offerPictureFlechehautbas .offerImg {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
}

.offerPictureFlechehautbas .fleche-gauche {
    position: absolute;
    margin-left: 25px;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    background-color: #ffffff00;                       
    border-style: none;
    cursor: pointer;
}

.offerPictureFlechehautbas .fleche-droite {
    position: absolute;
    margin-right: 25px;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    background-color: #ffffff00;                       
    border-style: none;
    cursor: pointer;
}

.offerTopInfos {
    display: flex;
    justify-content: space-between;
}

.offerTopInfos h1, p {
    color: #FF6060;
}

.offerTopInfos h1 {
    font-size: 22px;
}

.offerTopInfos p {
    font-size: 16px;
}

.tag:first-of-type {
    margin-left: 0;
}

.tag {
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: auto 10px;
    padding: 5px 15px;
    text-align: center;
}

.owner-name {
    font-size: 17px;
    color: #FF6060;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    position: absolute;
    right: 60px;
    top: 23px;
}

.owner-photo {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
    position: relative;
    left: 94px;
    top: 10px;
}

.rating {
    margin-top: 10px;
    position: relative;
    left: 3px;
    top: 7px;
    font-size: 34px;
    letter-spacing: 3px;
}

.fullStar {
    color: red;
}

.emptyStar {
    color: silver;
}

.namePictureRating {
   position: relative;
}

.description-equipements {
    display: inline-flex;
    gap: 0 75px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
}

.description-equipements>.collapseItem {
    width: 50%;
}

/* Responsive pour les téléphones portables */

@media screen and (max-width: 1490px) {
    .offerPictureFlechehautbas .offerImg {
        height: 240px;
    }

    .offerPictureFlechehautbas .fleche-gauche {
        top: 24%;
    }

    .offerPictureFlechehautbas .fleche-droite {
        top: 24%;
    }

    .owner-name {
        font-size: 12px;
        top: 25px;
        right: 50px
    }

    .owner-photo {
        height: 50px;
        width: 50px;
        left: 88px;
    }

    .rating {
        margin-top: 10px;
        position: relative;
        left: 3px;
        top: 7px;
        font-size: 30px;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 840px) {
    .offerPictureFlechehautbas .offerImg {
        height: 170px;
    }

    .offerPictureFlechehautbas .fleche-gauche {
        left: 0;
        top: 21%;
        font-size: 36px;
    }

    .offerPictureFlechehautbas .fleche-droite {
        right: 0;
        top: 21%;
        font-size: 36px;
    }

    .tag {
        font-size: 9px;
        margin: auto 5px;
        padding: 3px 10px;
    }
}

@media screen and (max-width: 640px) {
    .offerPictureFlechehautbas .offerImg {
        height: 215px;
        width: 100%;
    }

    .offerPictureFlechehautbas .fleche-gauche {
        left: -22px;
        top: 16%;
        font-size: 22px;
    }

    .offerPictureFlechehautbas .fleche-droite {
        right: -22px;
        top: 16%;
        font-size: 22px;
    }

    .owner-photo {
    height: 44px;
    width: 44px;
    left: 66px;
    top: 7px;
    }

    .owner-name {
        font-size: 12px;
        right: 47px;
    }

    .offerTopInfos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tag {
        font-size: 12px;
        margin: auto 4px;
    }

    .rating {
        font-size: 24px;
        margin-top: 6px;
        position: relative;
        left: -1px
    }

    .collapseHeader {
        height: 18%;
        min-height: 38px;
        width: 98%;
        font-size: 25px;
    }

    .description-equipements {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
    }

    .description-equipements>.collapseItem {
        width: 100%;
    }
}





