.accueil {
    margin: auto 25px;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
}

.apropos {
    color: #FF6060;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

.active {
    margin: auto 25px;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
}

.inactive {
    color: #FF6060;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    margin: auto 25px;
}





